<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="vendors/styles/style.css">

</head>
<body>
	<div class="pre-loader">
		<div class="pre-loader-box">
			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Loading...
			</div>
		</div>
	</div>

	<div class="header">
		<div class="header-left">
			<div class="menu-icon dw dw-menu"></div>
			<div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
			<div class="header-search">
				<form>
					<div class="form-group mb-0">
						<i class="dw dw-search2 search-icon"></i>
						<input type="text" class="form-control search-input" placeholder="Search Here">
						<div class="dropdown">
							<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
								<i class="ion-arrow-down-c"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">From</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">To</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">Subject</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text">
									</div>
								</div>
								<div class="text-right">
									<button class="btn btn-primary">Search</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="header-right">
			<div class="dashboard-setting user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
						<i class="dw dw-settings2"></i>
					</a>
				</div>
			</div>
			<div class="user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
						<i class="icon-copy dw dw-notification"></i>
						<span class="badge notification-active"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div class="notification-list mx-h-350 customscroll">
							<ul>
								<li th:each="rp:${rewardPointGT100Customers}">
									<a href="#">
										<p><span th:text="${rp.name}"></span> The customer's rewardpoint is <span th:text="${rp.rewardPoint}"></span></p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="vendors/images/photo1.jpg" alt="">
						</span>
						<span class="user-name" th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<form name="form" method="post" action="#" th:action="@{/logout}" th:object="${user}">
							<a class="dropdown-item" href="javascript:document.form.submit()"><i class="dw dw-logout"></i> Log Out</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="right-sidebar">
		<div class="sidebar-title">
			<h3 class="weight-600 font-16 text-blue">
				Layout Settings
				<span class="btn-block font-weight-400 font-12">User Interface Settings</span>
			</h3>
			<div class="close-sidebar" data-toggle="right-sidebar-close">
				<i class="icon-copy ion-close-round"></i>
			</div>
		</div>
		<div class="right-sidebar-body customscroll">
			<div class="right-sidebar-body-content">
				<h4 class="weight-600 font-18 pb-10">Header Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
				<div class="sidebar-radio-group pb-10 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-1" checked="">
						<label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-2">
						<label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-3">
						<label class="custom-control-label" for="sidebaricon-3"><i class="fa fa-angle-double-right"></i></label>
					</div>
				</div>

				<h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
				<div class="sidebar-radio-group pb-30 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input" value="icon-list-style-1" checked="">
						<label class="custom-control-label" for="sidebariconlist-1"><i class="ion-minus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input" value="icon-list-style-2">
						<label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o" aria-hidden="true"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input" value="icon-list-style-3">
						<label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input" value="icon-list-style-4" checked="">
						<label class="custom-control-label" for="sidebariconlist-4"><i class="icon-copy dw dw-next-2"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input" value="icon-list-style-5">
						<label class="custom-control-label" for="sidebariconlist-5"><i class="dw dw-fast-forward-1"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input" value="icon-list-style-6">
						<label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
					</div>
				</div>

				<div class="reset-options pt-30 text-center">
					<button class="btn btn-danger" id="reset-settings">Reset Settings</button>
				</div>
			</div>
		</div>
	</div>

	<div class="left-side-bar">
		<div class="brand-logo">

			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="dropdown">
						<a href="/index" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
						</a>
					</li>
					<li class="dropdown" th:if="${user.privilege} eq 1">
						<a href="/session/" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-edit2"></span><span class="mtext">Session Manage</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="/order/" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-edit2"></span><span class="mtext">Order Manage</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="/product/" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-library"></span><span class="mtext">Product Manage</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="/installation/" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-paint-brush"></span><span class="mtext">Installation Manage</span>
						</a>
					</li>
					<li>
						<a href="/customer/" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-diagram"></span><span class="mtext">Customer Manage</span>
						</a>
					</li>
					<li th:if="${user.getPrivilege().equals('1')}">
						<a href="/user/" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-chat3"></span><span class="mtext">User Manage</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container" th:object="${user}">
		<div class="pd-ltr-20">
			<div class="card-box pd-20 height-50-p mb-30">
				<div class="row align-items-center">
					<div class="col-md-4">
						<img src="vendors/images/banner-img.png" alt="">
					</div>
					<div class="col-md-8">
						<h4 class="font-20 weight-500 mb-10 text-capitalize">
							Welcome back <div class="weight-600 font-30 text-blue"><span th:text="*{firstName} + ' ' + *{lastName}"></span> !</div>
						</h4>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart"><input id="totalInstallationCnt" name="totalInstallationCnt" type="hidden" th:value="${totalInstallationCnt}"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0"><span th:text="${totalInstallationCnt}"></span></div>
								<div class="weight-600 font-14">Total Installation Count</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart2"><input id="inprogressRate" name="inprogressRate" type="hidden" th:value="${inprogressRate}"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0"><span th:text="${inprogressCnt}"></span></div>
								<div class="weight-600 font-14">Inprogress Installation Count</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart3"><input id="completeRate" name="completeRate" type="hidden" th:value="${completeRate}"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0"><span th:text="${completeCnt}"></span></div>
								<div class="weight-600 font-14">Complete Installation Count</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart4"><input id="myInstallationRate" name="myInstallationRate" type="hidden" th:value="${myInstallationRate}"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0"><span th:text="${myInstallationCnt}"></span></div>
								<div class="weight-600 font-14">My Installation Count</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30" th:if="${user.getPrivilege().equals('1')}">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="widget-data">
								<div class="h4 mb-0">$<span th:text="${totalSalesAmount}"></span></div>
								<div class="weight-600 font-14">Total Sales Amount</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30" th:if="${user.getPrivilege().equals('1')}">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="widget-data">
								<div class="h4 mb-0">$<span th:text="${totalCostAmount}"></span></div>
								<div class="weight-600 font-14">Total Cost Amount</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30" th:if="${user.getPrivilege().equals('1')}">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="widget-data">
								<div class="h4 mb-0">$<span th:text="${netProfit}"></span></div>
								<div class="weight-600 font-14">Net Profit</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30" th:if="${user.getPrivilege().equals('1')}">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="widget-data">
								<div class="h4 mb-0"><p th:each="c:${productCategoryList}" th:text="${c[0]} + ' ' + ${c[1]} + ' '"></p></div>
								<div class="weight-600 font-14">Category Stock Count</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30" th:if="${user.getPrivilege().equals('1')}">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="widget-data">
								<div class="h4 mb-0">$<span th:text="${totalInstallationSalesAmount}"></span></div>
								<div class="weight-600 font-14">Total Installation Sales Amount</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30" th:if="${user.getPrivilege().equals('1')}">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="widget-data">
								<div class="h4 mb-0">$<span th:text="${totalInstallationCostAmount}"></span></div>
								<div class="weight-600 font-14">Total Installation Cost Amount</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30" th:if="${user.getPrivilege().equals('1')}">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="widget-data">
								<div class="h4 mb-0">$<span th:text="${installationProfit}"></span></div>
								<div class="weight-600 font-14">Installation Profit</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" th:if="${user.getPrivilege().equals('1')}">
				<div class="col-xl-8 mb-30">
					<div class="card-box height-100-p pd-20">
						<h2 class="h4 mb-20">Sales Amount</h2>
						<div id="chart5"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- js -->
	<script src="vendors/scripts/core.js"></script>
	<script src="vendors/scripts/script.min.js"></script>
	<script src="vendors/scripts/process.js"></script>
	<script src="vendors/scripts/layout-settings.js"></script>
	<script src="src/plugins/apexcharts/apexcharts.min.js"></script>
	<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
	<script src="vendors/scripts/dashboard.js"></script>
	<script th:inline="javascript">
		var date = {
			data:[
				[# th:each="amount : ${amountList}"]
					[[${amount[0]}]],
				[/]
			]
		};
		var cost = {
			data:[
				[# th:each="amount : ${amountList}"]
					[[${amount[1]}]],
				[/]
			]
		};
		var sales = {
			data:[
				[# th:each="amount : ${amountList}"]
					[[${amount[2]}]],
				[/]
			]
		};

		var options5 = {
			chart: {
				height: 350,
				type: 'bar',
				parentHeightOffset: 0,
				fontFamily: 'Poppins, sans-serif',
				toolbar: {
					show: false,
				},
			},
			colors: ['#1b00ff', '#f56767'],
			grid: {
				borderColor: '#c7d2dd',
				strokeDashArray: 5,
			},
			plotOptions: {
				bar: {
					horizontal: false,
					columnWidth: '25%',
					endingShape: 'rounded'
				},
			},
			dataLabels: {
				enabled: false
			},
			stroke: {
				show: true,
				width: 2,
				colors: ['transparent']
			},
			series: [{
				name: 'Cost Amount',
				data: cost.data
			}, {
				name: 'Sales Amount',
				data: sales.data
			}],
			xaxis: {
				categories: date.data,
				labels: {
					style: {
						colors: ['#353535'],
						fontSize: '16px',
					},
				},
				axisBorder: {
					color: '#8fa6bc',
				}
			},
			yaxis: {
				title: {
					text: ''
				},
				labels: {
					style: {
						colors: '#353535',
						fontSize: '16px',
					},
				},
				axisBorder: {
					color: '#f00',
				}
			},
			legend: {
				horizontalAlign: 'right',
				position: 'top',
				fontSize: '16px',
				offsetY: 0,
				labels: {
					colors: '#353535',
				},
				markers: {
					width: 10,
					height: 10,
					radius: 15,
				},
				itemMargin: {
					vertical: 0
				},
			},
			fill: {
				opacity: 1

			},
			tooltip: {
				style: {
					fontSize: '15px',
					fontFamily: 'Poppins, sans-serif',
				},
				y: {
					formatter: function (val) {
						return val
					}
				}
			}
		}

		var chart5 = new ApexCharts(document.querySelector("#chart5"), options5);
		chart5.render();

	</script>
</body>
</html>